{
	"extends": "airbnb-base",

	"env": {
		"browser": true
	},

	"rules": {
		"linebreak-style": 0,
		"eslint line-break-style": [0, "error", "windows"],
		"max-len": ["error", 150, {"ignoreUrls": true}]
	}
}


 